@media(max-width:576px){

}

@media(min-width:576px){
    .btn-top-section{
        position: absolute;
    }
}

@media(min-width:768px){
    .phone-mobile{
        display: none;
    }
    .btn-top-section{
        position: relative;
    }
}

@media(min-width:992px){

}

@media(min-width:1200px){

}