@media(min-width:576px){
    .title-big{
        font-size: 24px;
    }
    .title-big{
        font-size: 46px;
    }
    .desktop-ofers{
        display: flex;
    }
    .mobile-ofers{
        display: none;
    }
    .discription-top-section{
        font-size: 24px;
    }
    .btn-red{
        font-size: 18px;
    }
}

@media(min-width:768px){
    .phone-mobile{
        display: none;
    }
    .btn-top-section{
        position: relative;
    }
    .btn-top-section__desctop{
        display: block;
    }
    .btn-top-section__mobile{
        display: none;
    }
    .title-top-section{
        font-size: 28px;
    }
    .discription-top-section{
        font-size: 18px;
    }
    .btn-red{
        font-size: 14px;
    }
    .desktop-ofers{
        margin-top: 55px;
    }
    .sentence-mobile-girl{
        display: none;
    }
    .sentence-desctop-girl{
        display: block;
    }
}

@media(min-width:992px){
    .title-top-section{
        font-size: 38px;
    }
    .discription-top-section{
        font-size: 20px;
    }
    .btn-red{
        font-size: 18px;
    }
}

@media(min-width:1200px){
    .title-top-section{
        font-size: 46px;
    }
    .discription-top-section{
        font-size: 24px;
    }
    .title-sentence{
        font-size: 34px;
    }
    .sentence-text{
        font-size: 18px;
    }
}