@media(max-width:576px){
    canvas{
        background-size: 720px;
    }
}

@media(max-width:400px){
    .logo-img{
        width: 50px;
    }
    .btn-outline-danger{
        font-size: 12px;
    }
}