@font-face {
    font-family: "Montserrat-Black";
    src: url("../fonts/Montserrat-Black.woff") format("woff"), 
      url("../fonts/Montserrat-Black.woff2") format("woff2"); 
    font-weight: normal;
    font-style: normal;
  }

@font-face {
    font-family: "PFCentroSansPro-Bold";
    src: url("../fonts/PFCentroSansPro-Bold.woff") format("woff"), 
      url("../fonts/PFCentroSansPro-Bold.woff2") format("woff2"); 
    font-weight: normal;
    font-style: normal;
  }

@font-face {
    font-family: "PFCentroSansPro-Regular";
    src: url("../fonts/PFCentroSansPro-Regular.woff") format("woff"), 
      url("../fonts/PFCentroSansPro-Regular.woff2") format("woff2"); 
    font-weight: normal;
    font-style: normal;
  }

@font-face {
    font-family: "PFCentroSansPro-Black";
    src: url("../fonts/PFCentroSansPro-Black.woff") format("woff"),
      url("../fonts/PFCentroSansPro-Black.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
  }

@font-face {
    font-family: "PFCentroSansPro-UBlack";
    src: url("../fonts/PFCentroSansPro-UBlack.woff") format("woff"), 
      url("../fonts/PFCentroSansPro-UBlack.woff2") format("woff2"); 
    font-weight: normal;
    font-style: normal;
  }

.text-danger{
    color: #ed5b65!important;
}

.text-blue{
    color: #293352;
}


html {
    scroll-behavior: smooth;
}

body{
    font-family: "PFCentroSansPro-Regular";
    background-color: #f9f9f9;
}

.header{
    background-color: #f9f9f9;
}

.phone-header{
    font-family: "PFCentroSansPro-Bold";
    display: none;
    font-size: 18px;
    margin: 0;
}

.logo-img{
    width: 45px;
}

.navbar-nav{
    font-weight: bold;
}

.bg-top-section{
    background-image: url(../img/top-section/bg-top-section.png);
    background-repeat: repeat-x;
    background-position: center bottom;
    padding-bottom: 50px;
    padding-top: 100px;
    background-color: #f9f9f9;
    animation: wave 10s infinite linear;
    animation-direction: normal;
}

@keyframes wave{
    100%{
        background-position-x: -1920px;
    }
}

.btn-red{
    color: #fff;
    background-color: #ed5b65;
    outline: none !important;
    border: none;
    font-weight: bold;
    border-radius: 30px;
    padding: 15px 35px;
    font-size: 16px;
    font-family: "PFCentroSansPro-Bold";
    transition: all 0.5s;
}

.btn-red:hover{
    box-shadow: 0 0 15px #000;
    text-shadow: 0 0 2px #000;
}

.text-dark{
    color: #616161 !important;
}

.text-red{
    color: #ed5b65;
}


.form-top-section{
    background-color: #ed5b65;
    padding: 10px;
    /* justify-content: space-around;
    align-items: center; */
}

.title-big{
    font-family: "PFCentroSansPro-UBlack";
    font-size: 32px;
}

.title-projects{
    font-family: "PFCentroSansPro-Black";
    font-size: 28px;
    text-transform: uppercase;
}


.img-r-column{
    width: 100%;
}

.desktop-ofers{
    margin-top: 150px;
    display: none;
}

.mobile-ofers{
    overflow: hidden;
    margin-top: 30px;
}

.discription-top-section{
    font-size: 18px;
    color: #616161;
}

.list-top-section{
    margin: 55px 0!important;
    padding: 20px;
    background-color: #f9f9f9;

}

.anim{
    position: absolute;
    left: 55%;
    width: 100px;
    transition: all 1s;
    animation: rotate 5s infinite;
}

@keyframes rotate{
    0% {
        transform: rotate(360deg);
    }
    50%{
        transform: rotate(180deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.list-top-section__item{
    list-style-type: none;
    font-size: 18px;
}

.list-top-section__item::before{
    content: '\272a';
    color: #ed5b65;
    margin-right: 10px;
}

.container-ofer{
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 20px #d6c8c8;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container-ofer_mobile{
    margin:15px;
    box-shadow: 0 0 15px #d6c8c8;
    background-color: #fff;
}

.ofer,
.ofer-discription{
    text-align: center;
}

.ofer{
    font-size: 50px;
    font-family: "Montserrat-Black";
}

.ofer-discription{
    color: #616161;
    font-size: 18px;
}

.btn-top-section__desctop{
    display: none;
}

.btn-top-section__mobile{
    display: block;
    margin: 50px auto 0;
}

.border-red{
    border: 1px solid #ed5b65;
    border-radius: 15px;
}

.card{
    overflow: hidden;
    margin: 0 15px;
    height: 420px;
    position: relative;
    width: 270px;
}

.card:focus{
    outline: none;
    border: 2px solid #000;
}

.card__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 30px;
    background-color: #fff;
    box-shadow: 0 0 10px #6f6f6f;
    height: 80px;
}

.card-main{
    padding: 5px 30px;
    height: 80%;
}

.prise-num{
    font-family: "PFCentroSansPro-Bold";
    font-size: 22px;
    margin-top: 10px;
    color: #293352;
}

.card__header__title{
    margin: 0 auto;
    text-align: center;
    color: #ed5b65;
}

.card__header__ico{
    width: 65px;
}

.card-item{
    padding: 5px;
    margin: 5px 0;
}

.card-item__inner{
    width: 100%;
    height: 100px;
    background-color: #ed5b65;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
}

.card-item__inner:hover{
    background-color: #f9f9f9;
    cursor: pointer;
    color: #000;
}

.card-item p{
    margin-bottom: 0;
    font-family: "PFCentroSansPro-Bold";
    font-size: 15px;
    text-align: center;
}

.section-sentence{
    background-image: url(../img/sentence-section/bg-sentence.svg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 0;
}

.title-sentence{
    font-size: 24px;
    font-family: "PFCentroSansPro-Bold";
}

.sentence-text{
    font-family: "PFCentroSansPro-Bold";
    margin: 20px 0;
}

.sentence-mobile-girl{
    margin-bottom: 25px;
}

.sentence-desctop-girl{
    display: none;
}

.title-blue{
    font-size: 36px;
    font-family: "PFCentroSansPro-UBlack";
    color: #293352;
}

.reviews__container{
    max-width: 280px;
    background-color: #f9f9f9;
    padding: 10px;
    margin: 20px;
    height: 485px;
    position: relative;
    overflow: hidden;
}

.reviews__container:focus{
    outline: none;
}

.reviews__container__header{
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    background-color: #fff;
    height: 100px;
    box-shadow: 0px 0px 10px #c3b8b8;
}

.reviews__container__logo{
    width: 125px;
    background-color: #fff;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.reviews__container__title,
.name{
    font-size: 18px;
    font-family: "PFCentroSansPro-Bold";
}

.name{
    margin-top: 95px;
}

.reviews__container__title{
    margin-left: 105px;
}

.reviews__container span{
    font-size: 13px;
    font-weight: bold;
    display: block;
    position: absolute;
    bottom: 10px;
}

.form-bg{
    background-image: url(../img/form/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-red-form{
    background-color: rgba(237,91,101,0.8);
    border-radius: 15px;
}

.bg-red-form h3{
    font-family: "PFCentroSansPro-Black";
    font-size: 24px;
}

.form-elem{
    width: 100%;
    border-radius: 7px;
    padding: 10px;
    border: none;
    outline: none;
}

.btn-form{
    background-color: #fff;
    color: #000;
    border-radius: 30px;
    font-family: "PFCentroSansPro-Bold";
    border: none;
}

.btn-form:focus{
    outline: none;
}

.btn-form:hover{
    box-shadow: 0 0 15px #000;
}

.map-link{
    font-size: 14px;
    align-items: center;
    justify-content: space-around;
    margin: 10px 0;
    height: 50px;
    text-decoration: none;
    font-family: "PFCentroSansPro-Regular";
    color: #595968;
}

.map-link:hover{
    text-decoration: none;
    color: #000;
    box-shadow: 0 0 10px #000;
}

.map-link img{
    width: 80px;
}

.mobile-map-link{
    display: flex;
    width: 100%;
}

.desktop-map-link{
    display: none;
}

.container-info h6{
    font-family: "PFCentroSansPro-Black";
    font-size: 18px;
}

.container-info p{
    font-size: 18px;
    color: #595968;
}

.footer{
    background-color: #a5d0e4;
    margin: 100px 0 80px;
}

.footer ul{
    list-style: none;
    color: #fff;
    padding: 0;
    font-size: 14px;
}

.footer ul li{
}

.footer ul li h6{
    font-family: "PFCentroSansPro-Bold";
}

.mobile-title-banner{
    margin-top: 30px;
    font-size: 26px;
}

.footer-inner .col-12 ul{
    color: #293352;
}
/* __________________________________________________________________________________________________________________________________ */


.card-step{
    width: 100%;
    height: auto;
    font-weight: bold;
}

.card-container:not(:last-child):after{
    display: none;
    content: '';
    position: absolute;
    width: 40%;
    height: 2px;
    border-bottom: 4px dashed #ed5b65;
    top: 27%;
    left: 87%;
}

.step-img{
    width: 130px;
    margin: 0 auto;
}

.step-img_map-case{
    width: 160px;
}

.card__num{
    position: absolute;
    font-size: 18px;
    color: #ed5b65;
    top: 0;
    left: 20%;
}

.sentence {
    display: flex;
    width: 100%;
    align-items: flex-start;
    margin: 25px 0;
}

.sentence p {
    margin: 0;
    color: #000;
}

.sentence p span{
    font-weight: bold;
}

.sentence-img{
    width: 65px;
    height: auto;
    margin-right: 20px;
}

.title-small{
    font-size: 24px;
    font-weight: bold;
}

#positive-btn,
#negative-btn{
    cursor: pointer;
    border-bottom: 2px solid #e7e7e7;
}

.active-border-b-red{
    border-bottom: 4px solid #ed5b65 !important;
}

.positive,
.negative{
    height: auto;
}

.active-emotion{
    display: flex !important;
}

.btn-form-center{
    font-size: 18px;
    text-decoration: none;
}

.btn-form-center:hover{
    box-shadow: 0 0 10px #000;
    text-decoration: none;
}

/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------- */

.card-project{
    padding: 5px 25px;
    border-top: 2px solid #ed5b65;
    border-right: 1px solid #d2d2d2;
    border-left: 1px solid #d2d2d2;
    border-bottom: 1px solid #d2d2d2;
    background-color: #f7f7f7;
}

.title-card-prgect{
    font-size: 19px;
}

.card-project p {
    font-size: 26px;
    margin-bottom: 0;
}

.title_left-column-progect{
    font-family: "PFCentroSansPro-Bold";
}

.container-card-progect{
    position: relative;
    top: -50px;
}

.btn-cases{
    font-size: 40px;
    background-color: #ed5b65;
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 0px 13px;
    position: absolute;
    z-index: 20;
    top: -15px;
}

.btn-cases:hover{
    outline: none;
    background-color: #e7e7e7;
    color: #cdcdcd;
}

.btn-cases:focus{
    outline: none;
}

.slide{
    outline: none;
}

.slide img{
    width: 80%;
}

.cases-next{
    left: 170px;
}

.cases-prev{
    left: 95px;
}

.counted{
    position: absolute;
    font-size: 38px;
    color: #ed5b65;
    left: 40px;
    top: -12px;
}

#counted__num{
    font-family: "PFCentroSansPro-Bold";
    font-weight: bold;
}

.anim-gears{
    right: 0;
    z-index: 99;
    bottom: 55px;
}

.img-rotate{
    width: 80px;
    transition: all 0.1s;
}

.rotate-left{
    top: 34px;
    left: -50px;
}